
@media only screen and (max-width: 418px) {
.Contracts{
    display: none;
}
  }






    .forminputparent input:invalid:focus:not(:placeholder-shown) {
      --tw-ring-opacity: 1;
      --tw-ring-color: red;
    }
    



  

  